<div class="row">
  <div class="twelve columns">
    <h1>Hello, Rails!</h1>
  </div>
</div>

<div class="row">
  <div class="eight columns">
    <table>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <br />

      <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<br />

<div class="row">
  <div class="twelve columns">
    <%= link_to 'Edit Post', edit_post_path(@post), :class=> "button big" %>
    <%= link_to 'Back to Posts', posts_path, :class=> "button big" %>
  </div>
</div>
